<div>
    <div class="flex flex-col md:flex-row"  style="background-image: url('/assets/about.png'); background-blend-mode: lighten; background-size: cover; background-repeat: no-repeat;">
    <div class="md:w-1/2 flex justify-center items-center">
        <div class="mt-4 px-12">
            <h1 class="text-5xl lg:text-7xl text-white font-extrabold">TRAINING </h1>
            <h1 class="text-3xl lg:text-5xl font-bold text-white pb-6">SERVICES WE OFFER</h1>
            <p class="mt-2 text-gray-200 font-semibold">Discover a variety of personalized training programs and expert-led fitness classes to help you achieve your fitness goals.</p>
        </div>
    </div>
    <div class="md:w-1/2 bg-opacity-100 p-8">
        <div class="container mx-auto px-4">

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                
                <div class="group bg-orange-200 rounded-lg  hover:bg-orange-300 transition duration-300 transform hover:scale-105">
                    <div class="box-content">
                      <div class="text-center text-black text-xl md:text-xl lg:text-2xl font-bold py-6 leading-9 tracking-widest">
                      <div class={alfa.className}> CARDIO <br /> TRAINING </div>
                      </div>
                      <div class='px-4'>
                      <div class="text-center text-black text-sm font-semibold px-3 py-3">
                        Elevate your heart rate and improve cardiovascular health
                      </div>
                      </div>
                      <div class="box-footer bg-black text-center text-neutral-100 text-sm font-normal py-3">
                        Rs.1000 per month
                      </div>
                    </div>
                  </div>



                  <div class="group bg-orange-200 rounded-lg  hover:bg-orange-300 transition duration-300 transform hover:scale-105 ">
                    <div class="box-content">
                      <div class="text-center text-black text-xl md:text-xl lg:text-2xl font-bold py-6 leading-9 tracking-widest">
                      <div class={alfa.className}> WEIGHT <br /> TRAINING </div>
                      </div>
                      <div class='px-4'>
                      <div class="text-center text-black text-sm font-semibold px-3 pb-1">
                        Build strength and muscle with our extensive weightlifting equipment
                      </div>
                      </div>
                      <div class="box-footer bg-black text-center text-neutral-100 text-sm font-normal py-3">
                        Rs.700 per month
                      </div>
                    </div>
                  </div>



                  <div class="group bg-orange-200 rounded-lg  hover:bg-orange-300 transition duration-300 transform hover:scale-105 ">
                    <div class="box-content">
                      <div class="text-center text-black text-xl md:text-xl lg:text-2xl font-bold py-6 leading-9 tracking-widest">
                      <div class={alfa.className}> FUNCTIONAL <br /> TRAINING </div>
                      </div>
                      <div class='px-4'>
                      <div class="text-center text-black text-sm font-semibold px-3 py-3">
                        Enhance your everyday movements and core strength
                      </div>
                      </div>
                      <div class="box-footer bg-black text-center text-neutral-100 text-sm font-normal py-3">
                        Rs.1000 per month
                      </div>
                    </div>
                  </div>



                  <div class="group bg-orange-200 rounded-lg  hover:bg-orange-300 transition duration-300 transform hover:scale-105">
                    <div class="box-content">
                      <div class="text-center text-black text-xl md:text-xl lg:text-2xl font-bold py-7 leading-9 tracking-widest">
                      <div class={alfa.className}> BOXING AND <br /> MARTIAL ARTS </div>
                      </div>
                      <div class='px-4'>
                      <div class="text-center text-black text-sm font-semibold px-3 py-3">
                        Develop self-defense skills and boost agility
                      </div>
                      </div>
                      <div class="box-footer bg-black text-center text-neutral-100 text-sm font-normal py-3">
                        Rs.850 per month
                      </div>
                    </div>
                  </div>



                  <div class="group bg-orange-200 rounded-lg  hover:bg-orange-300 transition duration-300 transform hover:scale-105">
                    <div class="box-content">
                      <div class="text-center text-black text-xl md:text-xl lg:text-2xl font-bold py-7 leading-9 tracking-widest">
                      <div class={alfa.className}> BALANCE <br /> TRAINING </div>
                      </div>
                      <div class='px-4'>
                      <div class="text-center text-black text-sm font-semibold px-3 py-3">
                        Enhance stability and coordination
                      </div>
                      </div>
                      <div class="box-footer bg-black text-center text-neutral-100 text-sm font-normal py-3">
                        Rs.900 per month
                      </div>
                    </div>
                  </div>



                  <div class="group bg-orange-200 rounded-lg  hover:bg-orange-300 transition duration-300 transform hover:scale-105">
                    <div class="box-content">
                      <div class="text-center text-black text-xl md:text-xl lg:text-2xl font-bold py-6 leading-9 tracking-widest">
                      <div class={alfa.className}> PILATES  </div>
                      </div>
                      <div class='px-4'>
                      <div class="text-center text-black text-sm font-semibold px-3 py-3">
                        Strengthen your core and improve flexibility through controlled movements.
                      </div>
                      </div>
                      <div class="box-footer bg-black text-center text-neutral-100 text-sm font-normal py-3">
                        Rs.800 per month
                      </div>
                    </div>
                  </div>



                  <div class="group bg-orange-200 rounded-lg  hover:bg-orange-300 transition duration-300 transform hover:scale-105">
                    <div class="box-content">
                      <div class="text-center text-black text-xl md:text-xl lg:text-2xl font-bold py-6 leading-9 tracking-widest">
                      <div class={alfa.className}> STRETCHING AND <br /> FLEXIBILITY </div>
                      </div>
                      <div class='px-4'>
                      <div class="text-center text-black text-sm font-semibold px-3 py-3">
                        Increase flexibility and prevent injuries
                      </div>
                      </div>
                      <div class="box-footer bg-black text-center text-neutral-100 text-sm font-normal py-3">
                        Rs.500 per month
                      </div>
                    </div>
                  </div>



                  <div class="group bg-orange-200 rounded-lg  hover:bg-orange-300 transition duration-300 transform hover:scale-105">
                    <div class="box-content">
                      <div class="text-center text-black text-xl md:text-xl lg:text-2xl font-bold py-6 leading-9 tracking-widest">
                      <div class={alfa.className}> AGILITY<br /> TRAINING </div>
                      </div>
                      <div class='px-4'>
                      <div class="text-center text-black text-sm font-semibold px-3 py-7">
                        Improve speed, quickness, and agility
                      </div>
                      </div>
                      <div class="box-footer bg-black text-center text-neutral-100 text-sm font-normal py-3">
                        Rs.600 per month
                      </div>
                    </div>
                  </div>



                  <div class="group bg-orange-200 rounded-lg  hover:bg-orange-300 transition duration-300 transform hover:scale-105">
                    <div class="box-content">
                      <div class="text-center text-black text-xl md:text-xl lg:text-2xl font-bold py-6 leading-9 tracking-widest">
                      <div class={alfa.className}> CIRCUIT <br /> TRAINING </div>
                      </div>
                      <div class='px-4'>
                      <div class="text-center text-black text-sm font-semibold px-3 py-2">
                        Rotate through various exercises for a full-body workout in a short time.
                      </div>
                      </div>
                      <div class="box-footer bg-black text-center text-neutral-100 text-sm font-normal py-3">
                        Rs.1000 per month
                      </div>
                    </div>
                  </div>
          </div>
     </div>
  </div>
</div>
</div>
<div class="py-2 px-6">
<div class="border-2 border-gray-500 rounded-lg py-14 my-10 flex flex-col md:flex-row justify-center items-center text-gray-500 text-center gap-12">
    <h1 class="text-4xl font-extrabold text-left font-serif lg:pr-10">Special Offer</h1>
    <div>
    <p class="text-2xl mt-2 lg:px-8 text-center font-semibold font-serif md:text-left">Buy PulsePower's Gym Membership today</p>
    <p class="text-lg mt-2 lg:px-10 text-center font-semibold font-serif md:text-left">Start your fitness journey today</p>
    </div>
    <button class="bg-cyan-300 hover:bg-cyan-200 text-neutral-600 text-lg font-mono font-bold mt-4 px-6 py-2 rounded-full">SIGN ME UP</button>
</div>
</div>